.item {
  background-position: center 20%;
  background-size: cover;
  float: left;
  height: 10%;
  overflow: hidden;
  width: 50%;
  img {
    width: 100%;
  }
}

.container {
  border: 1px solid #ccc;
  height: 270px;
  margin: 0 auto;
  position: relative;
  width: 270px;
}

.cube {
  $opacity: .7;
  $cube-dimension: 196px;

  transform: translateZ( 60px );
  transform-style: preserve-3d;

  .back {
    background-color: rgba(255, 197, 0, $opacity);
    transform: rotateX( -180deg ) translateZ( 100px );
  }

  .right {
    background: rgba(199, 253, 0, $opacity);
    transform: rotateY( 90deg ) translateZ( 100px );
  }

  .top {
    background-color: rgba(255, 238, 0, $opacity);
    transform: rotateX( 90deg ) translateZ( 100px );
  }

  .left {
    background-color: rgba(199, 253, 0, $opacity);
    transform: rotateY( -90deg ) translateZ( 100px );
  }

  .bottom {
    background-color: rgba(255, 238, 0, $opacity);
    transform: rotateX( -90deg ) translateZ( 100px );
  }

  figure {
    display: block;
    font-size: 120px;
    height: $cube-dimension;
    line-height: $cube-dimension;
    margin: 0;
    position: absolute;
    text-align: center;
    transform: rotateX( -180deg ) translateZ( 13px );
    width: $cube-dimension;
  }

	.mole {
	  background-color: rgba(242, 0, 204, $opacity);
	  border: 0;
	  color: #fff;
	  font-size: .5em;
	  font-weight: 100;
	  height: 100%;
	  left: 129px;
	  margin: 0;
	  padding: 0;
	  position: relative;
	  top: -20px;
	  width: 100%;
	}

	.score {
		display: block;
		transform: rotate(180deg) scale(-1, 1);
	}
}

.accessible {
	position: relative;
	left: -9999em;
}